<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Film Buff{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="{% url 'register' %}">Sign up</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Log out</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Log in</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- Content Block -->
    {% block content %}
    {% endblock %}
</body>
</html>
